<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navatar.time"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
    </application>

</manifest>
