<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navatar"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:name=".NavatarApplication">
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".location.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NavigationHistoryActivity"
            android:label="@string/title_activity_navigation_history" />

        <service
            android:name=".maps.MapService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/map_service_name" />
        <service
            android:name=".navigation.NavigationService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/nav_service_name" />
        <service
            android:name=".sensing.SensingService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/sensing_service_name" />

    </application>

</manifest>